<header>
    <a href="#" class="menu"><i class="fas fa-bars"></i></a>
    <a href="#" class="logo">
        SAVE <span>TRIP</span>
    </a>
    <a href="#" class="confg"><i class="fas fa-cog"></i></a>
    <nav class="confgNav">
        <div class="navHeader">
            <h5>설정</h5>
            <a href="#" class="closeConfg">완료</a>
        </div>
        <ul>
            <li><a href="#">환율</a></li>
            <li><a href="#">회원 수정</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>
    </nav>
</header>