<div id="selCountry">
    <div class="container">
        <div class="sellCountry">
            <div class="searchBox">
                <form action="">
                    <input type="text" name="search" id="search" placeholder="국가명 또는 국가 코드">
                    <a href="#" class="cancle btn"><i class="fas fa-times"></i></a>
                    <a href="#" class="cancle text">취소</a>
                </form>
            </div>
            <div class="selBox">
                <ul>

                </ul>
            </div>
        </div>
    </div>
    <div class="btnBox">
        <a href="#" class="selBtn">선택 완료</a>
        <a href="#" class="closeBtn">취소</a>
    </div>

</div>
<script>

    $(function () {
        countryList();
    })

    function countryList() {
        let html = ``;
        $.ajax({
            url:"/countryList",
            success:function (data) {
                for(let d of data){
                    html += `
                        <li data-ccode="${d.ccode}">
                        <div class="flagBox">
                            <img src="/images/flags/${d.ccode}.png" onerror="this.src='/images/flags/noImageFlag.gif';" alt=""class="img-responsive">
                        </div>
                        <h5>${d.kor}</h5>
                        <div class="customBox">
                            <div class="custom_btn one">
                                <div class="check"></div>
                            </div>
                        </div>
                        <input type="radio" name="country" id="country" value="${d.ccode}">
                    </li>
                    `
                }
                $(".selBox ul").html(html);

                $(".selBox ul li").click(function(){
                    let ck = $(this).find("input")
                    let input = $("input[name='ccode']")
                    if($(this).hasClass("on")){
                        ck.prop('checked', false);
                        $(".selBox ul li").removeClass("on")
                        input.val("");
                    }else{
                        $(".selBox ul li").removeClass("on")
                        ck.prop('checked', true)
                        $(this).addClass("on")
                        unCheckCustomBtn("green");
                        checkCustomBtn( $(this).find(".custom_btn"),"green");
                        input.val($(this).data("ccode"))
                    }
                })

            }
        })
    }

    /*sellCountry*/
    $("[data-event=selCountry]").click(function(){
        $("#selCountry").addClass("on");
    })

    $("#selCountry .btnBox .closeBtn").click(function(){
        $("#selCountry").removeClass("on");
    })

    $(".selBox ul li").click(function(){
        let ck = $(this).find("input")
        if($(this).hasClass("on")){
            ck.prop('checked', false);
            $(".selBox ul li").removeClass("on")
        }else{
            $(".selBox ul li").removeClass("on")
            ck.prop('checked', true)
            $(this).addClass("on")
            unCheckCustomBtn("green");
            checkCustomBtn( $(this).find(".custom_btn"),"green");
        }
    })

    function unCheckCustomBtn(colorName){
        $(".check").css("transform", "scale(0)");
        $(".custom_btn").removeClass(colorName);
    }
    function checkCustomBtn(target,colorName){
        $(target).addClass(colorName);
        $(target).children().css("transform", "scale(1)");
    }



</script>