<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>가계부</title>
    {{>common/import/commonCss}}
    <link rel="stylesheet" href="/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/info.css">
    {{>common/import/commonJs}}
    <script src="/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
</head>
<body>
    {{>contents/visit/tripInfo}}
</body>
</html>